@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.primary {
  background-color: #09e5ab;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  font-size: 0.9375rem;
  color: #6b7280;
  line-height: 1.5;
  height: 100%;
  overflow-x: hidden;
}

@media (max-width: 767.98px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 13px;
  }
}
a {
  color: #2e3842;
}

a:hover {
  color: #09dca4;
}

a:hover,
a:focus,
a.active {
  outline: none;
  text-decoration: none;
}
.active {
  color: #09dca4;
  /* color: #09e5ab; */
}
